body {
    background-size: 600px;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background-image: url("../images/image.png");
  }
  .articleBody {
    height: 200px;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 150%;
  }
  #btnSignUp {
    background-color: #000;
  }
  #nameComment {
    font-weight: bold;
    background: #1fc943;
    color: white;
  }
  .input-field input[type="text"]:focus + label {
    color: #1fc943;
  }
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid #1fc943;
    box-shadow: 0 1px 0 0 #000;
  }
  .input-field .prefix.active {
    color: #1fc943;
  }
  .topnav {
    background-color: #1fc943;
  }